[Unit]
Description=uWSGI to serve CMSiMDE
After=network.target
   
[Service]
User=wcm2021
Group=wcm2021
WorkingDirectory=/home/wcm2021/uwsgi_ini
ExecStart=/usr/bin/uwsgi --emperor /home/wcm2021/uwsgi_ini
   
[Install]
WantedBy=multi-user.target
